:root {
    --color: #243746;
    --color-primary: #f08f11;
    --color-secondary: #0e2233;
    --bg: #f3f5f4;
    --bg-secondary: #fff;
    --border-color: #ddd;
  }
  
  .dark {
    --color: #ebf4f1;
    --color-primary: #ffaa3b;
    --color-secondary: #fdf9f3;
    --bg: #091a28;
    --bg-secondary: #071521;
    --border-color: #0d2538;
  }

  body {
    font-family: sans-serif, Roboto;
    background-color: var(--bg);
    color: var(--color);
    transition: background-color 0.5s;
  }